.banner-principal-decorativo
  &-1
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    width: 200px
    bottom: 40px
    left: 55%
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    width: 154px
    top: 250px
    left: -4%
    @media screen and ( max-width: 1400px)
      left: -6%
  &-3
    animation: float1 3.8s ease-in-out infinite alternate
    position: absolute
    width: 150px
    top: 50px
    left: 55%
  &-4
    animation: float1 3.9s ease-in-out infinite alternate
    position: absolute
    width: 150px
    top: 5%
    left: 2%
    z-index: 99
    @media screen and ( max-width: 1400px)
      left: -2%
      top: 0
      width: 125px
  &-5
    animation: float1 2.7s ease-in-out infinite alternate
    position: absolute
    width: 100px
    top: 50px
    right: 10px
    z-index: 99
.fondo1
  background-color: #FFECBE !important

.fondo2
  background-image: url('../assets/curso/tema1/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo3
  background-image: url('../assets/curso/tema1/fondoturista.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo4
  background-color: #F3F9FF !important

.fondo5
  background-image: url('../assets/curso/tema1/fondoexcursionista.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo6
  background-color: #FFB338 !important

.fondo7
  background-image: url('../assets/curso/tema1/fondoslide.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom

.linea-tiempo-d__item--selected .tarjeta--gris
  background-color: #C3E2FD !important
  
.acordion__activo
  background-color: #FFF1D1 !important

.img-infografica__card
  width: 350px !important

.img-infografica-b__modal
  background-color: #F6F6F6 !important

.img-infografica-b__modal__contenido div > *
  color: #12263F !important

.fa-times:before
  color: #707070

.lista-ul__vineta:before
  color: #FFB338

.otralista 
  .lista-ul__vineta:before
    color: #008BD2

.tabla-c th + td
  width: 10% !important

.slyder-a__bullets__item--active
    background-color: #1B3F5E !important
    border-color: #1B3F5E !important
    opacity: 1

.slyder-a__bullets__item 
    background-color: rgba(27,63,94,0.35)
    border: 1px solid rgba(112,112,112,0.35)
    @media (max-width: 490px)
      margin: 0 5px
    @media (max-width: 390px)
      margin: 0 2px
@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)